env:
  global:
  - secure: RAUCllFht7NDu61pHJEH/CAkVvlekl0MwDL3o4AyjDxtLw1eaiJQ4pe2VjaqquGpWsgZaz4O87gwc70PMy9iIFSlt3aHOmIGs6spytCnHa9+MdIt7Rd+LQ+GzdzoXoXhaKqf/NYf9+bwZLiDJvXkehxXkQnHH8IGMnQ+jAd6RGePOVAB4yqCgOTyBbOZNa5uiIi6xoqeEnFxCwJ8oIYGdoFd2lX4CcwLsXO1K0ygqGtYF7h+EMxBspdLwI42V4CWLL67ZOxNjsdNYMtYgzL1pdRKTzcoyvyc3kSCqlKwKorweGjKBQzW+RAAg78PHxTSkOv0BYLZnfdIX8ALteqIoP3wSVEku6mw8DxJuUIiq/y2mmrbmiklMnXjXpEngQ6zA37i6Dy7OXTgfg3fybRI/O5sygjouDapxF2Bo2l963AG37R+A+6nDPxrEWL4KHq3WLlLq7E5Mn+q8cu3AqMIOY07paRfHqe4+tIIneUnkTwVptAS0xyYXDLdcs4GxJRC2dmGPbDvpSBnYzlnqm6Lv8gnZnRVUPxlH4haB/Ij+SZ4v6Hje0S92TvfD/FPx7UPQV184GGk+k822TcVm3E6qjYVoCzIuLsbgKl7JhxwbPzO6OR26DQdRAjYn/PkWY+1XXAyjxoSTWBnUiHtZXYVKm6gz4utTn2AboD4SW+E8TY=
  - secure: kSJ63M1FpYMGWpZ+ZUTwgJ6Aj6chnF0Msj4WwbVcyPhU1VBQzYsPTf2Etohx48bxN//0TuzzfbyHfKXhK0k+r/LxtkvCcAKnSKm0HDWudkIq11v2IAEyllf+VdrOheLKKs9d+lEDmwArH4y9/qKyWfikoAiwMVdf5f/XhUmZe2V5tHJm4ryfvASPydSmjEK5G2N35Ys81aKbm7OQ5NjSx31bNIZRDvaCQPUIxcIZdn+W48HHrF6718ja+/1p+8a49BOooHey5LTpsdazIeoSQQkBocZvL1uS29OFMCjKhlSQXuqB8prDKhk1WskT5zudP1WrxbNQktHCGW6Dfn7o6d55DFz+rfj/mbL+rAtqZzWhaSl2rDH1z3mOri1pBTBdnN869mUroK2CODbTt7qezC2Fj3H/ybZjo1uwZr0eNtE5hkwzDVMCJEaTFhGDIWQbQZHxGA+kGGGEJp7gcW5ozoWBXSyQdSRX9Ugq85WV45pm2CT7ms0iLzPspvIJZzJFEVpbwP4oTuvGM+5/4r+ki6EXCplcV4Jb+vi+/3FkjNiyVvidy+icQ2kaMBtgJ62dsnHOd7eI1GdAapcfmPqWXy30DXjB1hCffl2y1exVOHXb1Yzp1v0FeYdylOKz/5O30QAMYJQhKNVwDasJN8Ze6oEed7ie0a5GsdSdZnzcrxc=
  - secure: BrliKTOB8fn1XcWRplAE1idpC0CqszB/RNZu2yG7A79YTkSSP5XcMux4QA/WMuCkmvupQ7INQMWYry0uk/EplxzVQTRopZhySij1kty5dQP+PursHlUxxwsJ+d0DWrGlR5Cs26j7gu+CxLKndoic8tMOwO9YlipoQxQnG8ccgxiyb14Cw1kGmCwiOaIeJdjW4UhxEB6c+Ik9yBTdjpXXAulLtaVhSvY62lqKnYOD4mG5qgpTB/Hsv5z2XpWpzwKEwa3nt5VZ6dvbSEjeCx6rcDiev6ssMu4A/wA0jBp9COAbsIk8PfNvsS7JRoLeI0XVToMnXSjFUxFqxyKSKMzKX0AfnEYXmxZscDhgaRoWrPq/k61UHnBKhnPRx+WNcKDStn1a7JCehJphROz29wGS1qE2dvTOug/063nyUlk9yDyMDVHRYjKx/ktDikKdquoVoSM8S9PPY6F20NnRCncF/iFlLz+3L5Bfqv6LKMOMXJencSpLgNdhbWXrRQma0ixpmzgNdRew5uRny5sJWtOLfkCBDh7pfhFZ+HmMajwPa4dfbl1qkyK4JStQost4WW5Mw4gBZ8KoWzT0SCq4HALPnGgfkRkVpFp4AFyCIax/8jDpnFfQV/GejE2F3O4XtTB8swwgunYZcAoFl5kKc+9j+mFLqJdI3Dqd11zoPk9v8Bo=
  - EXTENSION_ID=ckofcgpflnnlncihdkfapmobjmmeloko
language: node_js
node_js:
  - 12.16.1
install: npm install -g yarn && yarn
cache:
  - yarn
#branches:
#  only:
#  - "/release\\/.*/"
script:
- yarn build
- yarn add chrome-webstore-upload-cli
- echo ${EXTENSION_ID}
