html {
    width: 400px;

    font-family: 'Helvetica Neue', sans-serif;
    color: #333333;
}

body {
    padding: 0;
    /*margin: 0.5em;*/
}

:focus {
    outline: 0 none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #ccc;
}

#search {
    font-size: 1.5rem;
    border: 0 none;
}

#results {
    margin-top: 0.5em;
}

#results ul {
    list-style: none;
    padding: 0;
    margin: .5em -.5em;
}

#results p {
    margin: 0;
}

#results ul:before {
    content: attr(data-category);
    background: #EFEFEF;
    display: block;
    padding-left: .5rem;
    border-radius: 2px;
}

#results ul:empty {
    display: none;
}

#results img {
    position: absolute;
    left: .25rem;
    top: 50%;
    margin-top: -.6rem;
    max-width: 1.2rem;
    max-height: 1.2rem;
}

li {
    margin: 0.25em 0;
    padding: 0.25em 0;
    position: relative;
    padding-left: 2rem;
}

li br {
    display: none;
}

li.active {
    background: #00BCE2;
    color: white;
}

li div {
    font-size: 0.75em;
    white-space: nowrap;
    opacity: 0.75;
    overflow: hidden;
}
