.search-candidate {
  background-color: yellow !important;
  background-image: linear-gradient(-180deg, yellow, yellow) !important;
}

.search-candidate-selected {
  background-color: orange !important;
}